@import "tailwindcss";

@layer components {
    .recipe-section-title{
      @apply text-5xl font-semibold tracking-tight text-stone-900;
    }
    .recipe-section-small{
      @apply text-2xl font-semibold text-stone-900;
    }
    .reciple-section-xsmall{
      @apply text-xl font-semibold text-stone-900;
    }
    .recipe-middle-format{
      @apply text-center;
    }
    .recipe-hero{
      @apply flex flex-col items-center text-center;
    }
  }

  @theme{
    --animation-fadein: 1s ease-out forwards;
    @keyframes fadein{
      0%{
        opacity: 0;
      }
      100%{
        opacity: 100;
      }
    }
  }
  
  body {
    margin: 0;
  }
  