@import "tailwindcss";

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;

  

  
}

@media (prefers-color-scheme: white) {
  
}

@layer components {
  .recipe-section-title{
    @apply text-5xl font-semibold tracking-tight text-stone-900;
  }
  .recipe-section-small{
    @apply text-2xl font-semibold text-stone-900;
  }
  .reciple-section-xsmall{
    @apply text-xl font-semibold text-stone-900;
  }
}

@theme{
  --animation-fadein: 1s ease-out forwards;
  @keyframes fadein{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 100;
    }
  }
}

body {
  margin: 0;
}



